/* Global styles */
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #F4EAD6;
}

header {
  color: #fff;
  padding: 1em;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
main {
  width: 95%;
  height: 100%;
  margin: 2em auto;
  padding: 0 1em;
}

h2 {
  margin-top: 0;
  font-size: 2em;
}
a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
p {
  margin: 0;
}
footer {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1em;
  bottom: 0;
  text-align: center;
}







table {
  min-height: 0;
  border-collapse: collapse;
  width: 70%;
  margin-bottom: 20px;
}

th, td {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #918B7D;
  color: #F4EAD6;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #C8C3B3;
}

tr:first-child th:first-child {
    border-top-left-radius: 8px;
}
tr:first-child th:last-child {
    border-top-right-radius: 8px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}






/* Media queries */
@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
  }
  nav li {
    margin-bottom: 0.5em;
  }
  nav a {
    font-size: 0.8em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  li {
    font-size: 0.9em;
  }
}




.sidebar {
  top: 0;
  left: 0;
  width: 15 %;
  height: 60%;
  background-color: #918B7D;
  padding: 2em;
  border-radius: 8px;
  margin-right: 10px;
}

.sidebar label {
    margin-bottom: 10px;
}

.sidebar input[type="text"],
.sidebar select {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 0 auto 5px;
  font-family: Ubuntu;
  text-align: center;
  display: block;
  background-color: #fff;
}

.sidebar input[type="text"]::placeholder,
.sidebar select::placeholder {
  color: #C0C0C0;
  font-style: italic;
}

.sidebar input[type="checkbox"] {
  margin-left: 10px;
}

.sidebar button[type="submit"] {
  width: 90%;
  padding: 10px;
  background-color: #F4EAD6;
  color: #333;
  font-family: Ubuntu;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  display: block;
}

.sidebar button[type="submit"]:hover {
  background-color: #C8C3B3;
}

.sidebar select option {
  color: #333;
  font-family: Ubuntu;
  font-weight: bold;
}

.multiplayer {
  text-align: center;
  padding: 7px;
  background-color: #fff;
  border-radius: 5px;
  width: 73%;
  margin: 0 auto 20px;
  display: block;
  font-size: 0.9em;
}


.container {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
    justify-content: space-between;
}
